
/* ress.css • v1.2.2*/
html{box-sizing:border-box;overflow-y:scroll;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}img{border-style:none}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}


*{ margin:0; padding:0; outline:none; }
img{-webkit-user-select:none; display:block;}
body {
	position:relative;
	-webkit-tap-highlight-color:rgba(0,0,0,0);		/* 去除 图片、输入框、链接 点击高亮 */
	-webkit-touch-callout:none;						/* 禁止链接长按后的系统菜单 */
    -webkit-user-select:none;						/* 禁止文字选择 */
    user-select:none;
	background:#f6f6f6;}

::-webkit-scrollbar { display:none; }

.layui-layer-dialog .layui-layer-content{ text-align:center; }

li { list-style-type:none; }
a { text-decoration:none; color:#000; }
.btn{ background:#EEB125; color:#fff; display:block; height:45px; line-height:45px; text-align:center; border-radius:5px; font-size:16px; }
.btn:active{ opacity: 0.6; }
.hide{ display:none; }
.flex-wrap{display: -webkit-box;display:-webkit-flex;display: flex; }
.flex-con{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow:column;flex-flow: column;}
.text-overflow{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

.words_line2 {
    display: -webkit-box;
	display: box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.flexbox {
	display:-webkit-box;
	display:-webkit-box-flex;
	display:box;
	display:-webkit-flex;
	display:flex;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-around; }
.flexbox > * {
	-webkit-box-flex:1;
	box-flex:1;
	flex:1;
	width:100%; }

.fixed-width {
	-webkit-box-flex:none;
	box-flex:none;
	flex:none; 
    width:auto;}



/* ================================================================================================ */

@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.eot'); /* IE9*/
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {
	font-family: 'iconfont2';
	src: url('../font/iconfont2.eot'); /* IE9*/
	src: url('../font/iconfont2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont2.woff') format('woff'), /* chrome、firefox */
	url('../font/iconfont2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/iconfont2.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family:"iconfont" !important;
	font-size:20px;
	font-style:normal;
	font-weight:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.iconfont:before { vertical-align:-10%; }


/* ================================================================================================ */
.framepage  { position:relative; box-sizing:border-box; border:0px solid #f00; height:100%; }
.wrapper    { position:relative; width:100%; box-sizing:border-box;  border:0px solid #f00; }


.topbar { position:fixed; width:100%; z-index:100; box-sizing:border-box; }
.topbar:after { display:block; content:""; width:100%; height:1px; position:absolute; left:0; bottom:0; z-index:5; background:#ddd; -webkit-transform:scale(1,0.5); }

.footer { position:fixed; bottom:0; width:100%; z-index:2; background:#fff;}
.footer { position:fixed; bottom:0; width:100%; z-index:200; height:55px; overflow:hidden; background:#fff; }
.footer:before { display:block; content:""; width:100%; height:1px; position:absolute; left:0; top:0px; z-index:5; background:#ddd; -webkit-transform:scale(1,0.5); }
.footer .btn { background:#EEB125; color:#fff; display:block; height:40px; line-height:40px; margin:7px 12px; text-align:center; border-radius:5px; font-size:16px; padding:0;}
