
/*===============发起报修=================*/
.repair_add_manager .wrapper{ padding-bottom:55px; }
.repair_add_manager .wrapper .form .infoCon > div{ padding:0 20px; background:#fff;  padding-left:120px; position:relative;}
.repair_add_manager .wrapper .form .infoCon > div p{ margin:0;}
.repair_add_manager .wrapper .form .infoCon > div.username{ margin-bottom:12px; }
.repair_add_manager .wrapper .form .infoCon > div.username p{border:none;}
.repair_add_manager .wrapper .form .infoCon > div.username label:before{ font:18px/20px 'iconfont'; content:'\e696'; margin-right:10px; color:#EEB125; }
.repair_add_manager .wrapper .form .infoCon > div.contact label:before{ font:20px/20px 'iconfont'; content:'\e627'; margin-right:10px; color:#999; }
.repair_add_manager .wrapper .form .infoCon > div.phone label:before{ font:20px/20px 'iconfont'; content:'\e611'; margin-right:10px; color:#999; }
.repair_add_manager .wrapper .form .infoCon > div.addr label:before{ font:18px/20px 'iconfont'; content:'\e62a'; margin-right:10px; color:#999; }
.repair_add_manager .wrapper .form .infoCon > div.type label:before{ font:18px/20px 'iconfont'; content:'\e643'; margin-right:10px; color:#999; }
.repair_add_manager .wrapper .form .infoCon > div.category label:before{ font:18px/20px 'iconfont'; content:'\e649'; margin-right:10px; color:#999; }

.repair_add_manager .wrapper .form .infoCon > div.addr p:after{ font:15px/15px 'iconfont'; content:'\e624';  color:#999; position:absolute; right:20px; top:15px}
.repair_add_manager .wrapper .form .infoCon > div.type p:after{ font:15px/15px 'iconfont'; content:'\e624';  color:#999; position:absolute; right:20px; top:15px;}
.repair_add_manager .wrapper .form .infoCon > div.category p:after{ font:15px/15px 'iconfont'; content:'\e624';  color:#999; position:absolute; right:20px; top:15px;}

.repair_add_manager .wrapper .form .infoCon > div label{ position:absolute; padding:12px 0; left:12px; font-size:16px; }
.repair_add_manager .wrapper .form .infoCon > div > p{ padding:12px 0; border-bottom:1px solid #e8e8e8; color:#999; font-size:15px; }
.repair_add_manager .wrapper .form .infoCon > div input{ display:inline-block; width:100%; font-size:15px; }
.repair_add_manager .wrapper .form .infoCon > div select{ display:inline-block; width:100%; font-size:15px; }
.repair_add_manager .wrapper .form .infoCon > div a{ display:inline-block; width:100%; color:#999; font-size:15px; }
.repair_add_manager .wrapper .form .infoCon > div:first-child p{ border:none; }
.repair_add_manager .wrapper .form .infoCon > div:last-child p{ border:none; }

.repair_add_manager .wrapper .form .details{ padding:12px 10px; margin-top:10px; background:#fff; }
.repair_add_manager .wrapper .form .details p { padding:10px 0; font-size:16px;  margin-bottom:0; }
.repair_add_manager .wrapper .form .details textarea{ padding:5px; width:100%; height:150px; color:#999; -webkit-apprance:none; apprance:none; resize:none; font-size:15px; }
.repair_add_manager .wrapper .form .details .imgCon{ font-size:0; }
.repair_add_manager .wrapper .form .details .imgCon li{ display:inline-block; width:25%; padding:0 10px 10px 0; position:relative; }
.repair_add_manager .wrapper .form .details .imgCon li img{ width:100%; }
.repair_add_manager .wrapper .form .details .imgCon li .del{ position:absolute; top:-8px; right:2px; font-size:15px; display:block;}
.repair_add_manager .wrapper .form .details .imgCon li .del:after{ font:18px/20px 'iconfont'; content:'\e645'; color:#EEB125; }