/*===============报修列表=================*/
.repair_list_manager{ padding-top:1.65rem; }
.repair_list_manager .topbar{ background:#fff; top:0;}
.repair_list_manager .topbar .menu{ padding:0.2rem 0.25rem; border-bottom:1px solid #e8e8e8; }
.repair_list_manager .topbar .menu li{ text-align:center; border:1px solid #EFAF26; padding:0.1rem; font-size:0.27rem;}
.repair_list_manager .topbar .menu li:nth-child(1){ border-radius:8px 0 0 8px; }
.repair_list_manager .topbar .menu li:nth-child(2){ border-radius:0 8px 8px 0 ; }
.repair_list_manager .topbar .menu li.active{ color:#fff; background:#EFAF26; }
.repair_list_manager .topbar .tips{ padding:0.15rem 0.25rem; vertical-align:top; }
.repair_list_manager .topbar .tips .number{ margin:0 0.1rem; color:#EFAF26; vertical-align:top; font-size:0.3rem;}

.repair_list_manager .wrapper .number{ font-size:0.275rem; }
.repair_list_manager .wrapper .list li{ margin-top:0.15rem; background:#fff; }
.repair_list_manager .wrapper .list li a{ display:block; }
.repair_list_manager .wrapper .list li .title{ border-bottom:1px solid #e8e8e8; padding:0.2rem 0.25rem; overflow:hidden;}
.repair_list_manager .wrapper .list li .title .leftCon{ float:left; }
.repair_list_manager .wrapper .list li .title .leftCon .type{ font-size:0.29rem; }
.repair_list_manager .wrapper .list li .title .leftCon .time{ color:#999; margin-top:0.1rem; }
.repair_list_manager .wrapper .list li .title .rightCon{ float:right; vertical-align:middle; padding:0.24rem 0; }
.repair_list_manager .wrapper .list li .infoCon{ padding:0 0.25rem; color:#999; }
.repair_list_manager .wrapper .list li .infoCon .info{ border-bottom:1px solid #e8e8e8; }
.repair_list_manager .wrapper .list li .infoCon .info p{ margin:0.2rem 0; }
.repair_list_manager .wrapper .list li .infoCon .info p .phone{ float:right; }
.repair_list_manager .wrapper .list li .infoCon .details{ padding:0.35rem 0; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding-right:0.8rem; color:#999; }


/*===============报修详情=================*/
.repair_details_manager{ padding-top:0.8rem; padding-bottom:1.1rem;}
.repair_details_manager .topbar{  background:#fff; font-size:0.27rem; top:0;}
.repair_details_manager .topbar p{ padding:0.2rem 0.25rem; }
.repair_details_manager .topbar p .name{ margin-left:0.5rem; color:#999;}
.repair_details_manager .topbar p .time{ float:right; color:#999; }

.repair_details_manager .wrapper .main .infoCon{ background:#fff; padding:0.1rem 0.25rem; margin-top:0.15rem; }
.repair_details_manager .wrapper .main .infoCon p{ margin:0.22rem 0; padding-left:1.5rem; }
.repair_details_manager .wrapper .main .infoCon p > label{ position:absolute; left:0.25rem; font-size:0.27rem; }
.repair_details_manager .wrapper .main .infoCon p .text{ color:#999; }
.repair_details_manager .wrapper .main .stateCon{ background:#fff; margin-top:0.15rem; }
.repair_details_manager .wrapper .main .stateCon p > label{ font-size:0.28rem; }
.repair_details_manager .wrapper .main .stateCon .title{ border-bottom:1px solid #e8e8e8; padding:0.2rem 0.25rem;}
.repair_details_manager .wrapper .main .stateCon .title .state{ float:right; color:#91D69C;}
.repair_details_manager .wrapper .main .stateCon .details{ padding:0.1rem 0.25rem; }
.repair_details_manager .wrapper .main .stateCon .details p { padding:0.1rem 0; }
.repair_details_manager .wrapper .main .stateCon .details p .slideBtn{ float:right; padding-right:0.4rem; color:#777; }
.repair_details_manager .wrapper .main .stateCon .slideCon{ padding-bottom:0.15rem; }
.repair_details_manager .wrapper .main .stateCon .slideCon p{ color:#999; margin-bottom:0.6rem; }
.repair_details_manager .wrapper .main .commentCon{ background:#fff; margin-top:0.15rem; }
.repair_details_manager .wrapper .main .commentCon > p{ padding:0.2rem 0.25rem; border-bottom:1px solid #e8e8e8;}
.repair_details_manager .wrapper .main .commentCon > p > label{ font-size:0.28rem;>   }
.repair_details_manager .wrapper .main .commentCon > p .slideBtn{ float:right; padding-right:0.4rem; color:#777; }
.repair_details_manager .wrapper .main .commentCon .slideCon{ padding-bottom:0.15rem; }
.repair_details_manager .wrapper .main .commentCon .slideCon .commentList li{ position:relative; padding:0.25rem 0.25rem 0.25rem 1.2rem; }
.repair_details_manager .wrapper .main .commentCon .slideCon .commentList li img.avatar{ position:absolute; height:0.7rem; width:0.7rem; left:0.25rem; }
.repair_details_manager .wrapper .main .commentCon .slideCon .commentList li .name{ margin-bottom:0.1rem; }
.repair_details_manager .wrapper .main .commentCon .slideCon .commentList li .text{ color:#777; margin-bottom:0.3rem; }
.repair_details_manager .wrapper .main .commentCon .slideCon .commentList li .imgCon img{ height:1.5rem; width:1.5rem; margin:0 0.15rem 0.15rem 0; }
.repair_details_manager .wrapper .main .commentCon .slideCon .commentList li .time{ color:#999;border-bottom:1px solid #e8e8e8; padding:0.2rem 0; }
.repair_details_manager .wrapper .main .commentAdd{ background:#fff; margin-top:0.15rem; padding:0.25rem;  }
.repair_details_manager .wrapper .main .commentAdd .commentBtn{ border:1px solid #e8e8e8; display:block; padding:0.1rem 0.25rem; color:#999; border-radius:8px;}


/*===============发布评论=================*/
.comment_form_manager{ padding-top:0.9rem; }
.comment_form_manager .topbar{ background:#fff; top:0; }
.comment_form_manager .topbar .hd-title{ font-size:0.31rem; padding:0.2rem 0.25rem; text-align:center; }
.comment_form_manager .topbar a.cancelBtn{ font-size:0.27rem; float:left; }
.comment_form_manager .topbar a.confirmBtn{ font-size:0.27rem; float:right; color:#EEB125;}